<h4>Editpage for </h4>

<p>A form to edit Team Information</p>



<%= form_for @team do |f| %>

	   <%=f.label :teamname %>
	   <%=f.text_field :teamname %>
	   <br>

	<h5>Player 1</h5>
	      <%= label_tag :prename %>
	      <%= text_field_tag "team[players][][prename]", @team.players[0].prename  %>
	      <br>
	      <%= label_tag :surname %>
	      <%= text_field_tag "team[players][][surname]", @team.players[0].surname  %>
	      <br>
	      <%= label_tag :age %>
	      <%= text_field_tag "team[players][][age]", @team.players[0].age  %>
	      <br>
	      <%= label_tag :email %>
	      <%= text_field_tag "team[players][][email]", @team.players[0].email  %>
	      <br>
	      <%= label_tag :phone %>
	      <%= text_field_tag "team[players][][phone]", @team.players[0].phone  %>

	<h5>Player 2</h5>
		<%= label_tag :prename %>
	      <%= text_field_tag "team[players][][prename]", @team.players[1].prename  %>
	      <br>
	      <%= label_tag :surname %>
	      <%= text_field_tag "team[players][][surname]", @team.players[1].surname  %>
	      <br>
	      <%= label_tag :age %>
	      <%= text_field_tag "team[players][][age]", @team.players[1].age  %>
	      <br>
	      <%= label_tag :email %>
	      <%= text_field_tag "team[players][][email]", @team.players[1].email  %>
	      <br>
	      <%= label_tag :phone %>
	      <%= text_field_tag "team[players][][phone]", @team.players[1].phone  %>

	<%= f.submit "Change" %>   
<% end %>
