<h1>Update Positions!</h1>
	  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE&sensor=False"></script>

<button id="getLocation" type="submit">Update Position</button>

<div>
<p id="latitude"></p>
<p id="longitude"></p>
<p id="distance"></p>
<p id="address"></p>
</div>



<%= form_for ([@team, @position]) do |f| %>

	   <% f.label :latitude %>
	   <%= f.hidden_field :latitude, :class => "latitude" %>
	   <br>
	   <% f.label :longitude%>
	   <%= f.hidden_field :longitude, :class => "longitude"  %>
	   <br>
	   <% f.label :distance %>
	   <%= f.hidden_field :distance, :class => "distance" %>
	   <br>
	   <%= f.label :text %>
	   <%= f.text_field :text %>
	   <br>
	<%= f.submit "Send" %>   
<% end %>



