<div class="yield home2 update">

		  <script type="text/javascript"
	      src="http://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE&sensor=False"></script>

	<button id="getLocation" class ="btn btn-success" type="submit">Get current position</button>

	<br>

	<div class="onload response">
		<p>Your Latitude is: <b id="latitude"></b></p>
		<p>Your Longitude is: <b id="longitude"></b></p>
		<p>You are <b id="distance"></b> far from Munich </p>
		<p>Your approximated address is: <b id="address"></b></p>
	</div>


	<div id="updateform" class "onload">
		<%= form_for ([@team, @position]), id: "fillout", :html => { :multipart => true } do |f| %>
			<div class="form-group onload row" id="send_message">
				<div id="enter_message" class="col-sm-9">
				   <% f.label :latitude %>
				   <%= f.hidden_field :latitude, :class => "latitude" %>
				   <br>
				   <% f.label :longitude%>
				   <%= f.hidden_field :longitude, :class => "longitude"  %>
				   <br>
				   <% f.label :distance %>
				   <%= f.hidden_field :distance, :class => "distance" %>
				   <br>

				   <%= f.label :text, "Enter Message" %>
				   <%= f.text_area :text, class: "form-control input-large" %>
				</div>
				<div id="load_image" class="col-sm-3">
				   <%= f.label :image, "Upload Image"%>
				   <%= f.file_field :image%>
				</div>

			<%= f.submit "Send", class: "btn btn-success send"%>   
		<% end %>
	</div>

</div>



