<!DOCTYPE html>
<html>
<head>
  <title>Breakout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="home">

<p id="event_2014">Event 2014</p>

<div id="sign-up-container">
<button id="sign-up">Sign-up!</button>
</div>


<div id="invisible_div">
<p id="homepage_button"></p>
</div>









<%= image_tag("tw_icon.png", :id => "twitter-button", :class => "social_button", :alt => "tw_icon") %>

<%= image_tag("fb_icon.png", :id => "facebook-button", :class => "social_button", :alt => "fb_icon") %>



</body>