<!DOCTYPE html>
<html>
<head>
  <title>Breakout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="home">


<%= image_tag("tw_icon.png", :id => "twitter-button", :alt => "tw_icon") %>

<%= image_tag("fb_icon.png", :id => "facebook-button", :alt => "fb_icon") %>



</body>