   

  <script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE&sensor=False"></script>


  
    <div class="centerwrap">
          <div id="timer" class="my-icon">
            <div class="clock" data-date="2013-12-25 00:00:00"></div>
          </div>
    </div>

    <div class="centerwrap2">
      <div id="specialbar">
        <div id="dlead" class="social_button">
          <h3> View Distance Leaderboard</h3>
            <ol class="leaderboard">
              <% @distancerank.each do |pos| %>
                <li>
                  <%= pos.team.teamname %>: <%= pos.distance %> km
                </li>
              <% end %>  
            </ol>
        </div>
        <div id="rlead" class="social_button">
          <h3> View Revenue Leaderboard</h3>
          <ol class="leaderboard">
            <li><%=@cashperteam[0][0] %>: <%=@cashperteam[0][1] %> €</li>
            <li><%=@cashperteam[1][0] %>: <%=@cashperteam[1][1] %> €</li>
            <li><%=@cashperteam[2][0] %>: <%=@cashperteam[2][1] %> €</li>
          </ol>
        </div>
    </div>


    <div class="centerwrap3 full">
      <div id="arrow">

      </div>
    </div>

    <div class="centerwrap4">
      <div id="arrowdow">

        <button id="glyphicon" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </button>
      
      </div>
    </div>





<div id="map_container">
  <div id="map_canvas">
    
  </div>
</div>



<div class="yield3">
  <h1 id="title"> The Liveblog </h1>
    <% @positions.order('created_at DESC').each do |position| %>
      <h4>Team <%=@teams.find(position.team_id).teamname%> at <%=position.created_at.strftime("%H:%M") %></h4>
        <div class="message_content">
          <p><%= position.text %><p>
        </div>
      <br>
    <%end%>
</div>








<script>
	$(document).ready(function(){
		var liveblogInstance = window.liveblogInstance = new Liveblog();
  		liveblogInstance.drawMap();
  		liveblogInstance.getData();	
  	});
</script>


