   

  <script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE&sensor=False"></script>


  
    <div id="shape" class="centerwrap">
          <div id="timer" class="my-icon">
          <div class="clock" data-date="2013-12-25 00:00:00"></div>
        </div>
    </div>


<div id="map_container">
  <div id="map_canvas">
    
  </div>

</div>







<div class="yield">
<h2>Leaderboard</h2>
  <div class="row">
    <div class="distance_leaderboard col-sm-6">
      <h3>Distance Category</h3>
      <ol>
        <% @distancerank.each do |pos| %>
          <li>
            team: <%= pos.team.teamname %>
            distance: <%= pos.distance %>km
          </li>
        <% end %>  
      </ol>
    </div>

    <div class="revenue_leaderboard col-sm-6">
      <h3>Revenue Category</h3>
      <ol>
        <li><%=@cashperteam[0][0] %>: <%=@cashperteam[0][1] %>€</li>
        <li><%=@cashperteam[1][0] %>: <%=@cashperteam[1][1] %>€</li>
        <li><%=@cashperteam[2][0] %>: <%=@cashperteam[2][1] %>€</li>
      </ol>
    </div>

  </div>
</div>




<script>
	$(document).ready(function(){
		var liveblogInstance = window.liveblogInstance = new Liveblog();
  		liveblogInstance.drawMap();
  		liveblogInstance.getData();	
  	});
</script>


