<div class="yield home2">


	<h1>Sponsor <%=@team.teamname %> per Kilometer</h1>




	<%= form_for([@team, @sponsor]) do |f| %>

			<div class="form col-sm-4"> 

			   <div class="form-group">
			      <%= f.label :sponsorname, "Pre and Surname" %>
			      <%= f.text_field :sponsorname, class: "form-control"  %>
			   </div>

			   <div class="form-group">
			      <%= f.label :email %>
			      <%= f.text_field :email, class: "form-control"  %>
			   </div>

			   <div class="form-group">
			      <%= f.label :moneyperk, "Money per Kilometer in €" %>
			      <%= f.number_field :moneyperk, class: "form-control"  %>
			   </div>

			   <div class="form-group">
			      <%= f.label :limit, "Limit in €" %>
			      <%= f.number_field :limit, class: "form-control"  %>
			   </div>

			<%= f.submit "Sponsor", class: "btn btn-success"%>  
		</div> 
	<% end %>

</div>






