<!DOCTYPE html>
<html>
<head>
  <title>Breakout</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

</head>
<body>






<div id="nav-bar-background">

	<div class="row">
		<div id="navbar" class="col-sm-7">
			<ul class="nav nav-tabs baritems">
			  <li role="presentation"><a href="#">Home</a></li>
			  <li role="presentation"><a href="#">Liveblog</a></li>
			  <li role="presentation"><a href="#">Teams</a></li>
			</ul>
		</div>

		<div id="login_logout" class="col-sm-5">
			<% flash.map do |flash_key, flash_message| %>
				<%= content_tag :div, flash_message, class: "alert alert-#{flash_key}", role: "alert" %> 
			<% end %>
			<% if session[:current_team_id].present? %>
				<%= render "layouts/logout_form" %>
			<% else %>
				<%= render "layouts/login_form" %>
			<% end %>
		</div>
	</div>
</div>



<%= yield %>





</body>
</html>
