<!DOCTYPE html>
<html>
<head>
  <title>Breakout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE&sensor=False"></script>
</head>
<body>

<% flash.map do |flash_key, flash_message| %>
	<%= content_tag :div, flash_message, class: "alert alert-#{flash_key}", role: "alert" %> 
<% end %>

<% if session[:current_team_id].present? %>
	<%= render "layouts/logout_form" %>
<% else %>
	<%= render "layouts/login_form" %>
<% end %>





<%= yield %>






</body>
</html>
